
<style>
    td {
        padding: 15px;
    }
</style>
<h1>Articoli disponibili</h1>


<table class="table" id="articoli">
    <caption>Impiegati</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Indirizzo</th>
            <th>Email</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articolo of articoli">
            <td>{{ articolo.employeeId }}</td>
            <td>{{ articolo.employeeName }}</td>
            <td>{{ articolo.employeeAddress }}</td>
            <td>{{ articolo.employeeEmail }}</td>

        </tr>
    </tbody>
</table>